/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: 150px auto;
    background-color: #fff;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e44d26;
    font-size: 10em;
}

#countdown {
    font-size: 5.5em;
    color: #2c3e50;
}
